.card
    .card__icon
        img(src="images/wallet.svg", alt="wallet")
    .card__info
        h2.heading-3 Depositá en pesos
        p Fondeá tu cuenta por transferencia bancaria, Mercado Pago o en efectivo