section.hero.grid-col-12
  .hero__info.col-left-6
        .hero__info--title
            h1.heading-1
                | Descubrí la nueva 
                br
                | economía digital
            p Empezá el camino de la innovación financiera.
            a.btn.btn--purple(href="https://www.ripio.com/ar" title="") Abrir mi cuenta
  .hero__image.col-right-6
        img(src="images/hand.png", alt="")