.profit__info.grid-col-12
    .profit__info--box.col-left-6.order-1
        h3.heading-3.secondary-color Cuenta en pesos
        p
            | Activá tu cuenta digital gratis  y gestioná
            br
            | tu dinero como prefieras.
        a.btn.btn--purple(href="https://www.ripio.com/ar" title="") Abrir mi cuenta
    .profit__info--box.col-right-6.order-2
        img(src="images/wallet-icon.svg", alt="")