.profit__info.grid-col-12
    .profit__info--box.col-left-6.order-1
        h3.heading-3.secondary-color OTC
        p
            | Para instituciones e
            br
            | inversores mayoristas.
        a.btn.btn--purple(href="https://www.ripio.com/ar" title="") Abrir mi cuenta
    .profit__info--box.col-right-6.order-2
        img(src="images/icon-otc.svg", alt="")