.profit__info.grid-col-12
    .profit__info--box.col-left-6
        img(src="images/icon-exchange.svg", alt="")
    .profit__info--box.col-right-6
        h3.heading-3.secondary-color Exchange
        p  
            | Compra y vende criptomonedas.
            br
            | El precio lo pones tú.
        a.btn.btn--purple(href="https://www.ripio.com/ar" title="") Abrir mi cuenta