.security.grid-col-12
    .security__text.col-left-2
        h3 
            | Protegemos 
            br
            | lo más valioso
            br
            | para vos
        p 
            | Todos tus activos en 
            br 
            | un solo lugar. Libres de
            br 
            | riesgo y complicaciones.
    .security__cards.col-right-10
        .security__cards--item
            img(src="images/icon-safe.svg", alt="", srcset="")
            h4 Seguridad
            p 
                | Combinamos HTTPS,
                br
                | Cloudfare e cold storage 
                br
                | para proteger seus fundos.
            a(href="http://") Entenda
        .security__cards--item.center
            img(src="images/hands.svg", alt="", srcset="")
            h4 Confianza
            p 
                | Combinamos HTTPS,
                br
                | Cloudfare e cold storage 
                br
                | para proteger seus fundos.
            a(href="http://") Entenda
        .security__cards--item
            img(src="images/cubo.svg", alt="", srcset="")
            h4 Inovación
            p 
                | Combinamos HTTPS,
                br
                | Cloudfare e cold storage 
                br
                | para proteger seus fundos.
            a(href="http://") Entenda