doctype html
html(lang="en")
  head
    title= pageTitle
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css",  href="css/main.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css")
  body.container.bg-hero
  .bg-security 
  include blocks/header.pug
  include sections/hero-info.pug
  include sections/white-space.pug
  include sections/white-space.pug
  include sections/profit-title.pug
  include sections/profit-account.pug
  include sections/white-space-sm.pug
  include sections/profit-exchange.pug
  include sections/white-space-sm.pug
  include sections/profit-otc.pug
  include sections/white-space.pug
  include sections/security.pug
  include sections/white-space-sm.pug
  include sections/white-space.pug
  .bg-footer
  include blocks/footer.pug
  script(src="https://code.jquery.com/jquery-3.4.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js")  
  script(src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js")
  script(src="js/main.js")      