footer.footer.grid-col-12
  .footer__submmit.col-left-5
        h4.heading-4 
            | Empezá el camino
            br
            | de la innovación
            br 
            | inanciera.
        a.btn.btn--white(href="https://www.ripio.com/ar" title="") Abrir mi cuenta
        a.btn.btn--outline-white(href="https://www.ripio.com/ar" title="") Abrir mi cuenta
  .footer__menu.col-right-7
    .footer__links
      .footer__links--title Productos
      ul
        a(href=''): li Cuenta en pesos
        a(href=''): li Criptomonedas
        a(href=''): li Créditos
        a(href=''): li Exchange
        a(href=''): li OTC
    .footer__links
      .footer__links--title Aprender
      ul
        a(href=''): li Cotización BTC
        a(href=''): li Cómo comprar BTC?
        a(href=''): li Ripio TV
        a(href=''): li Blog
        a(href=''): li Comunidad
    .footer__links
      .footer__links--title Institucional
      ul
        a(href=''): li Nosotros
        a(href=''): li Trabajá con nosotros
        a(href=''): li Téminos y condiciones
        a(href=''): li Help center
        a(href=''): li FAQ
  hr.col-12
  .footer__social.col-12
    .footer__social--policies
      p
        | &copy; 2018 Ripio | Las transacciones de activos digitales y critpomonedas representan inversiones de
        | alto riesgo y no son recomendadas para todo tipo de inversores.
    .footer__social--redes
        ul
            li: a(href=''): img(src="images/facebook-f.svg", alt="")
            li: a(href=''): img(src="images/twitter.svg", alt="")
            li: a(href=''): img(src="images/instagram.svg", alt="")
            li: a(href=''): img(src="images/youtube.svg", alt="")
            li: a(href=''): img(src="images/in.svg", alt="")
    .footer__social--logo
        a(href="https://www.ripio.com/ar"): img(src="images/w-ripio-logo.svg", alt="")