header.header
    .grid-col-12
        .header__menu.col-left-6
            .header__menu--logo
                a(href="https://www.ripio.com/ar"): img(src="images/ripio.svg", alt="")
            .header__menu--nav
                a(href="https://www.ripio.com/ar") Comunidad
                a(href="https://www.ripio.com/ar") Market
                .dropdown__menu
                    a(href="https://www.ripio.com/ar") Más productos 
                        img(src="images/arrow-down.svg", alt="")
                    ul.dropdown__toggle
                        li: a(href='/ar/comprar-bitcoin') Bitcoin
                        li: a(href='/ar/comprar-ethereum') Ethereum
                        li: a(href='/ar/criptomonedas/comprar/') Listado
        .header__user.col-right-6
            .mr: a(href="https://www.ripio.com/ar") Ingresar
            .btn.btn--outline: a(href="https://www.ripio.com/ar") Registrate